body { margin:0}
.wrapper {
	position: absolute;
	height: 1000px;
	width: 1518px;
}

.d1 {
	width: 1518px;
	height: 420px;
    background-color: #648dac;
}

.fa-apple {
	position: absolute;
	color: white;
	left: 250px;
	top: 20px;
	font-size: 40px;
}

.head {
	position: absolute;
	margin: 0;
	padding-left: 900px;
	padding-top: 30px;
	font-family: Arial;
	font-size: 16pt;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;	
}

a:hover {
	color:#99bdcc;
}

.devices {
	position: absolute;
	left: 430px;
	top: 80px;
}
.d2 {
	float:left;
	display: inline-block;
	width: 379.5px;
	height: 210px;
    background-color: #dbdbdb;
}

.d3 {
	float:left;
	display: inline-block;
	width: 379.5px;
	height: 210px;
    background-color: #bdb9ab;
}

.d4 {
	float:left;
	display: inline-block;
	width: 379.5px;
	height: 210px;
    background-color: #9ce0d2; 
}

.d5 {
	float:left;
	display: inline-block;
	width: 379.5px;
	height: 210px;
    background-color: #9fafc1;
}

.d6 {
	position: static;
	float:left;
	display: inline-block;
	width: 759px;
	height: 210px;
    background-color: #bfd6df;
}

.d7 {
	position: static;
	float:left;
	display: inline-block;
	width: 759px;
	height: 210px;
    background-color: #9fafc1;
}

.d8 {
	position: static;
	float:left;
	display: inline-block;
	width: 759px;
	height: 210px;
    background-color: #bdb9ab;
}

.d9 {
	position: static;
	float:left;
	display: inline-block;
	width: 759px;
	height: 210px;
    background-color: #bfd6df;
}

.d10 {
	position: static;
	float:left;
	display: inline-block;
	width: 759px;
	height: 210px;
    background-color: #bfd6df;
}

.d11 {
	position: static;
	float:left;
	display: inline-block;
	width: 759px;
	height: 210px;
    background-color: #faa58a;
}

.d12 {
	position: static;
	float:left;
	display: inline-block;
	width: 506px;
	height: 180px;
    background-color: #9faec1;
}

.d13 {
	position: static;
	float:left;
	display: inline-block;
	width: 506px;
	height: 180px;
    background-color: #bdb9ab;
}

.d14 {
	position: static;
	float:left;
	display: inline-block;
	width: 506px;
	height: 180px;
    background-color: #9ce0d2;
}

.d15 {
	position: static;
	float:left;
	width: 1518px;
	height: 245px;
    background-color: #648dac;
}

.d16 {
	position: static;
	float:left;
	width: 1518px;
	height: 60px;
    background-color: #57495a;
}

.fa-laptop {
	position: absolute;
	color: black;
	left: 10.5%;
	bottom: 480px;
}

i { font-size: 45px; }
i.fa-mobile-alt { font-size: 40px; }

p.iconlap {
	font-size: 20px;
	font-family: Arial;
	padding-left: 35%;
	padding-top: 30%;
}

.fa-tablet-alt {
	position: absolute;
	color: black;
	left: 36.2%;
	bottom: 480px;	
}

p.tablet {
	font-size: 20px;
	font-family: Arial;
	padding-left: 45%;
	padding-top: 30%;
}

.fa-mobile-alt {
	position: absolute;
	color: black;
	left: 61.5%;
	bottom: 480px;
}

p.phone {
	font-size: 20px;
	font-family: Arial;
	padding-left: 40%;
	padding-top: 30%;
}

.fa-comments {
	position: absolute;
	color: black;
	left: 85.5%;
	bottom: 480px;
}

p.about {
	font-size: 20px;
	font-family: Arial;
	padding-left: 40%;
	padding-top: 30%;
}

.iPad {
	position: absolute;
	left: 19%;
	bottom: 180px;
	width: 180px;
	height: 170px;
}

p.ipadnaslov {
	color: white;
	font-size: 30px;
	font-family: Arial;
	padding-left: 47%;
}

p.ipadtext {
	color: white;
	font-size: 14px;
	font-family: Arial;
	padding-left: 4%;
	padding-right: 4%;
	text-align: justify;
	text-indent: 13px;
	line-height: 1.5;
	margin-top: -15px;
}

p.iphonenaslov {
	color: white;
	font-size: 30px;
	font-family: Arial;
	padding-left: 42%;
}

p.iphonetext {
	color: white;
	font-size: 14px;
	font-family: Arial;
	padding-left: 4%;
	padding-right: 4%;
	text-align: justify;
	text-indent: 13px;
	line-height: 1.5;
}

.iPhoneX {
	position: absolute;
	left: 68%;
	bottom: -50px;
	width: 200px;
	height: 190px;
}

p.macnaslov {
	color: white;
	font-size: 30px;
	font-family: Arial;
	padding-left: 40%;
}

p.mactext {
	color: white;
	font-size: 14px;
	font-family: Arial;
	padding-left: 4%;
	padding-right: 4%;
	text-align: justify;
	text-indent: 13px;
	line-height: 1.5;
	margin-top: -15px;

}

.MacBook {
	position: absolute;
	left: 17%;
	bottom: -250px;
	width: 230px;
	height: 200px;
}

p.team {
	color: black;
	font-size: 25px;
	font-family: Arial;
	text-align: center;
}

p.teamp {
	color: white;
	font-size: 16px;
	font-family: Arial;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 30px;
	text-align: justify;
	text-indent: 13px;
	line-height: 1.5;
	word-spacing: 10px;
}

p.salary {
	color: black;
	font-size: 25px;
	font-family: Arial;
	text-align: center;
}

p.tsalary {
	color: white;
	font-size: 16px;
	font-family: Arial;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 30px;
	text-align: justify;
	text-indent: 13px;
	line-height: 1.5;
	word-spacing: 10px;
}

p.earnings {
	color: black;
	font-size: 25px;
	font-family: Arial;
	text-align: center;
}

p.tearnings {
	color: white;
	font-size: 16px;
	font-family: Arial;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 30px;
	text-align: justify;
	text-indent: 13px;
	line-height: 1.5;
	word-spacing: 10px;
}

i.fa-facebook-f, .fa-google-plus-square, .fa-twitter, .fa-youtube, .fa-instagram { 
	font-size: 35px;
	color: #eff2f5;
}

i.icons {
	display: inline-block;
	width: 100%;
	text-align: center;
	letter-spacing: 100px;
	padding-top: 100px;
}
i:link {
	color:#99bdcc;
}

i:visited {
	color:#99bdcc;
}

i:hover {
	color:#99bdcc;
}

p.footer {
	color: white;
	font-family: Arial;
	text-align: center;
	padding-top: 5px;
}